:root {
  --main-text-color: #008641;
  --second-text-color: rgb(148, 148, 148);
}

* {
 
  color: var(--second-text-color);
  
}

body {
  margin: auto;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #000b00, #022e04,  #000b00);
}


main {  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em;
}

.matrice-info {
  padding: 2em;
  max-width: 500px;
}

.matrice-game {
  padding-top: 1em;
}

h1 {
  font-family: 'Barriecito', cursive;  
  color: var(--main-text-color);
}

.box {
  width: 330px;
  margin: auto;
}

.box-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}



button {
  margin-top: 2em;
  padding: 1em;  
  border: none;
  border-left: 3px solid var(--main-text-color);
  color: white;
  cursor: pointer;
  font-size: 1em;
  background-color: black;
}

button:hover{
  border-left:  3px solid black;
  border-bottom: 3px solid var(--main-text-color);
}

.info {
  margin-top: 1em;
  padding: 1em;
  
}

.info-right {
  border-left: 3px solid var(--main-text-color);
}

.info-wrong{
  border-left: 3px solid red;
}

.matrice-info-code {
  margin: 0;
  font-family: 'Libre Barcode 128 Text', cursive;
  font-size: 4em;
  color: var(--second-text-color);
}

/* =========================================
Style Square
 ========================================= */

.square {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: solid 2px var(--main-text-color);
  border-radius: 0.5em;
  margin: 5px;
  width: 100px;
  height: 100px;
}

.square img {
  width: 85px;
  height: 85px;
}



