:root {
  --main-text-color: #01FBF9;
}

* {
  background-color: black;
  color: var(--main-text-color);
  
}

body {
  width: 400px;
  margin: auto;
  font-family: 'Roboto', 'Oxygen', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Barriecito', cursive;
}

.box {
  width: 300px;
  margin: auto;
}

.box-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  box-sizing: border-box;
  border: solid 1px var(--main-text-color);
  width: 100px;
  height: 100px;
}

button {
  margin-top: 2em;
  padding: 1em;
  border-radius: 1em;
  border: 0px;
  background-color:  var(--main-text-color);
  color: black;
}

.info {
  margin-top: 1em;
}


